@font-face {
  font-family: ibm-vga;
  src: url('./webplus-ibm-vga-8x14.woff');
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(170, 170, 170);
  font-family: ibm-vga, monospace;
  font-size: 28px;
  line-height: 1em;
  margin: 2em auto 4em;
  max-width: 80ch;
  padding: 0;
  transform: scaleX(0.83333333333);
}

pre {
  font-family: inherit;
  font-size: inherit;
}

b {
  color: rgb(255, 255, 255);
  font-weight: inherit;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: underline 2px;
}

h1,
h2 {
  color: rgb(255, 255, 255);
  font-weight: inherit;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 250%;
  margin: 1em 0;
}

h2 {
  font-size: 150%;
  margin: 0;
}
